include setup.py
include README.rst
include LICENSE
include CHANGELOG.rst
recursive-include gensvm *.py
recursive-include gensvm *.pxd
recursive-include gensvm *.pyx
recursive-include src *
prune src/gensvm/tests
exclude src/gensvm/.git
exclude src/gensvm/.gitignore
exclude .gitmodules
exclude .gitignore
exclude .travis.yml
exclude Makefile
recursive-exclude test_human *.py
recursive-exclude docs *
