include setup.py
include README.md
include LICENSE
include CHANGELOG.md
recursive-include gensvm *.py
recursive-include gensvm *.pxd
recursive-include gensvm *.pyx
recursive-include src *
prune src/gensvm/tests
exclude src/gensvm/.git
exclude src/gensvm/.gitignore
